* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body {
    position: relative;
    background-color: black;
    overflow: hidden; /* Prevents content from overflowing */
}

.Header {
    padding-top: 20px;
}

.Header p {
    margin-left: 680px;
    font-size: 20px;
    color: #f2f5ee;
    text-align: center;
    font-family: monospace;
    width: 145px;   
    height: 27px;  
    border-radius: 50%;
    border: 2px solid #f3f6f1;
    letter-spacing: 7px;
    cursor: pointer;
}

.Image_Container {
    width: 100%;
    overflow: hidden; /* Prevents overflow */
}

.Image_Container img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    opacity: 0; 
    animation: fadeIn 3s ease-out forwards; 
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Text_over_Image p {
    position: absolute;
    bottom: 700px; 
    left: 20%;
    color:  #e7d9d9;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    opacity: 0; 
    animation: fadeInText 2s 3s ease-out forwards; 
}

.Text_over_Image h1 {
    position: absolute;
    bottom: 780px; 
    left: 630px;
    color: #ebe5e5;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    opacity: 0; 
    animation: fadeInText 4s 5s ease-out forwards; 
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
